main {
    padding: 0;
}

header {
    position: sticky;
    top: 0;
}

.cartPanelHeader {
    position: sticky;
    top: 0;
}

.fixedTableHead {
    overflow-y: auto;
    height: 350px;
}

.fixedTableHead thead th {
    /* position: sticky; */
    top: 0;
}

.cart-table {
    border-collapse: collapse;
    width: 100%;
}

.tr-exists {
    background-color: red;
}

html,
body {
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.close {
    background-color: red !important;
    border-radius: 50px;
    margin-right: 1px !important;
    opacity: 1 !important;
    filter: none !important;
    padding: 5px !important;
    margin-top: 1px !important
}

.close span {
    color: #fff;
    font-size: 25px !important;
}

.chart-card {
    width: 700px !important;
    height: 400px !important;
}